body {
    background-color: rgb(36, 36, 36);
    margin:0;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid rgb(156, 156, 156);
    border-radius: 10px;
}

.container .title {
    color: white;
    margin-top: 10px;
}


#output {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(0, 0, 0);
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 2px white;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 22px;
    min-width: 280px;
    max-width: 280px;
    min-height: 30px;
    max-height: 30px;


}

.container .input {
    display: flex;
    flex: 1;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .input .left {
    display: flex;
    flex: 1;
}

.container .input .right {
    display: flex;
    flex: 1;
}

.container .input .left .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
}
.container .input .right .column {
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
}

.container button {
    border: 1px solid rgb(0, 0, 0);
    font-size: 19px;
    align-items: center;
    background-color: rgb(53, 53, 53);
    color: white;
    box-shadow: 0 0 1px black;
}



.container .left button{
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 66px;
    min-height: 37px;
    max-width: 66px;
}

.container .right button{
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 66px;
    max-width: 66px;
    min-height: 15%;
}

#backspace {
    min-height: 20%;
}

#equals {
    min-height: 20%;
}

.container button:hover{
    background-color: rgb(85, 85, 85);
}

.container button:active{
    border: 1px solid rgb(116, 116, 116);
}